<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Name of the User">
  </div>
  <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="mail" #mail="ngModel" [(ngModel)]="userService.selectedUser.mail" placeholder="Name of the User">
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default" type="submit" (click)="resetForm(userForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>
